.main {
  padding: 10px;
  /* height: 80vh; */
  margin-bottom: 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.main::-webkit-scrollbar {
  width: 0.25rem;
}

/* .main::-webkit-scrollbar-track {
  background: #1976d2;
}

.main::-webkit-scrollbar-thumb {
  background: #454545;
} */

.form {
  height: 8vh;
  position: fixed;
  bottom: 0;
  /* background-color: rgb(24, 23, 23);/ */
  width: 100%;
  /* max-width: 728px; */
  display: flex;
  font-size: 0.8rem;
  box-shadow: 0 0px 1px 0px #454545;
}

.form div {
  width: 8vh;
}

.form button {
  width: 8vh;
  /* background-color: rgb(56, 56, 143); */
}

.image {
  border: none;
  color: white;
  padding: 2vh 2vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  background-color: white;
}

.image input {
  display: none;
}

.input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.2rem;
  background: white;
  color: #232323;
  outline: none;
  border: none;
  padding: 0 10px;
  caret-color: #1976d2;
}

.button {
  border: none;
  color: white;
  padding: 2vh 2vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  background-color: white;
}

.button:disabled {
  /* opacity: 0.5; */
  cursor: not-allowed;
}
