.p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: #232332;
  text-align: center;
}

.img {
  margin: 2px 5px;
}
