.root {
  flex-grow: 1;
}

.menuButton {
  /* marginright: theme.spacing(2); */
}

.title {
  flex-grow: 1;
}

.title a {
  font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
  font-weight: bold !important;
  color: black !important;
  text-decoration: none !important;
}

.a {
  color: #5f6368;
  text-decoration: none;
}
