.app {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.appHeader {
  /* background-color: #181717;/ */
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.appSection {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  min-height: 100vh;
  /* background-color: rgb(40, 37, 53); */
  margin-top: 56px;
}

.title {
  color: rgba(0, 0, 0, 0.87);
}
.progress {
  text-align: center;
  padding: 42vh 0;
}
