.top {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/brisbane_river.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top::before {
  width: 100vw;
  height: 100vh;
  /* 透過した黒を上から重ねるイメージ */
  background-color: rgba(0, 0, 0, 0.4);
  /* 自由に位置指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.top h2 {
  margin: 0;
  text-align: center;
  position: relative;
  top: 38vh;
  font-weight: bold;
  font-family: 'Krona One', sans-serif;
  color: aliceblue;
}

.top p {
  text-align: center;
  position: relative;
  top: 42vh;
  color: aliceblue;
  font-size: 0.8rem;
  font-family: 'Krona One', sans-serif;
}

.login {
  text-align: center;
  position: relative;
  top: 45vh;
}
